/* absolute center */

.absCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}


/* rows */

.row-left-top {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-spread-top {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-right-top {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row-left-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-spread-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-right-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.row-left-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-spread-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-right-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* columns */

.col-left-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-spread-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-right-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col-left-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-spread-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-right-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col-left-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-spread-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-right-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}