h4 {
  margin-bottom: 20px;
}

ul li {
  margin-left: 10%;
}

.socialRow {
  background-color: #ff873050;
}

.split {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainCol {
  width: 800px;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}

.eduCell {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 330px;
}

.eduDescVal {
  text-align: end;
}
