a {
  color: white;
}

.landingStack {
  height: 850px;
}

.homeText {
  margin: 20px;
  text-align: justify;
  width: 800px;
}

.spacer {
  margin-top: 60px;
}

.skillRow {
  width: 800px;
}

.skillRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillCell {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 200px;
}

.skillIcon {
  margin-bottom: 20px;
}

.skillProficiencyRow {
  margin-bottom: 10px;
}

.skillDesc {
  height: 120px;
}

.highlighted {
  color: #ff8730;
}
