* {
  box-sizing: border-box;
  font-family: nova;
  font-size: large;
  padding: 0;
  margin: 0;
}

html,
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: #0c0c0c;
  text-decoration: none;
}

h2 {
  font-size: 45px;
  margin: 30px;
}

h3 {
  font-size: 25px;
}

.landingStack {
  height: 120px;
  width: 100%;
}

.landingStackInner {
  position: absolute;
}

.socialRowPositioner {
  left: 50px;
  top: 30px;
}

.socialRow {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
}

.navRowPositioner {
  right: 50px;
  top: 30px;
}

.navRow {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  width: 300px;
}

.highlighted {
  color: #ff8730;
}

.copyright {
  align-items: center;
  background-color: #0c0c0c;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.copyrightText {
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@font-face {
  font-family: nova;
  src: url(../font/NovaSquare-Regular.ttf);
}
