* {
  box-sizing: border-box;
  font-family: nova;
  font-size: large;
  padding: 0;
  margin: 0;
}

html,
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;  
}

@font-face {
  font-family: nova;
  src: url(../font/NovaSquare-Regular.ttf);
}
