.timeline {
	position: relative;
}

.timeline>.cover {
	background-color: rgb(var(--t4_color));
	height: calc(100% + 20px);
	position: absolute;
	top: -10px;
	width: 3rem;
}

.timeline>.left {
	left: -11px;
}

.timeline>.right {
	right: -18px;
}

.timeline>.border {
	border-radius: 2rem;
	border: 2px solid rgb(var(--t3_color));
	box-shadow: 0px 0px 10px rgba(var(--t2_color), 0.5);
	width: 90vw;
}

.timeline>.border>.content {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-size: 2.5rem;
	height: 100%;
	justify-content: space-between;
	margin-left: 3rem;
	margin-right: 3rem;
}

.timeline>.border>.content>.details {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}